<div class="col-10 p-5">
    <h1>Mis rondas</h1>
    <h3 class="pt-5">Rondas activas</h3>
    <div class="px-5 ">
        <div class="px-5 row">
            <div class="col-3 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: 2rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 01</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                            <path
                                d="M8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
            <div class="col-3 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 02</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                            <path
                                d="M8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
            <div class="col-3 card text-center shadow-sm p-3 mb-5 bg-white rounded" style="width: 2rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 03</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                            <path
                                d="M8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
        </div>
    </div>
    <h3>Rondas concluidas</h3>
    <div class="px-5 ">
        <div class="px-5 row">
            <div class="col-3 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: 2rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 01</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
            <div class="col-3 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 02</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
            <div class="col-3 card text-center shadow-sm p-3 mb-5 bg-white rounded" style="width: 2rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Ronda 03</h5>
                    <h1><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-low-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
                        </svg></h1>
                </div>
            </div>
        </div>
    </div>
    <h3>Historial de rondas</h3>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nº Ronda</th>
                <th scope="col">Nº Integrantes</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de cierre</th>
                <th scope="col">Nº Cuotas</th>
                <th scope="col">Importe</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        {{#each notes}}
        <tbody>
            <tr>
                <th scope="row"> {{roundId}} </th>
                <td> {{roundedNumber}} </td>
                <td> {{qMembers}} </td>
                <td> {{startDate}} </td>
                <td> {{endDate}} </td>
                <td> {{qDues}} </td>
                <td> {{amount}} </td>
                <td> {{total}} </td>
                <td> {{state}} </td>
                <td><a href="/notes/edit/{{_id}}"><i class="fa fa-pencil"></i></a></td>
                <td>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <!--se enviara una consulta (?)-->
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn-danger btn-block btn" style="width: 100px;">
                            Borrar
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>